<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269594081717-aq9ur1ahkrqb9mllf7e2ep2vnh4uop3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269594081717-aq9ur1ahkrqb9mllf7e2ep2vnh4uop3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269594081717-gl5u1u6vc38ku95esvrsohi6siuknhv4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATvVNlMPFUWvBDXUGKFf3wmWfM0LwnaAY</string>
	<key>GCM_SENDER_ID</key>
	<string>269594081717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GBvTeam.Helper</string>
	<key>PROJECT_ID</key>
	<string>volunteer-275612</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteer-275612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269594081717:ios:075e5563ca946735ef81fc</string>
	<key>DATABASE_URL</key>
	<string>https://volunteer-275612.firebaseio.com</string>
</dict>
</plist>